@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    color: white; 
    margin-left: auto;
    margin-right: auto;
    margin: 5rem;
    text-align: left;
    padding: 0px 15rem;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 3rem;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Big Shoulders Display', cursive;
}

.sedans, .suvs, .luxury {
    padding: 2rem;
    border: 0px;
}
.sedans{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}


.luxury{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: hsl(179, 100%, 13%);
}

.buttonSedans, .buttonSuvs, .buttonLuxury {
    border: none;
    border-radius: 20px;;
    padding: 0.8rem 2rem;
    font-family: 'Lexend Deca', sans-serif;
}

.buttonSedans {
    color: hsl(31, 77%, 52%);
}

.buttonSuvs {
    color: hsl(184, 100%, 22%);
}

.buttonLuxury {
    color: hsl(179, 100%, 13%);
}

.footer {
    text-align: center;
    margin-top: 2rem;
}

